
   
.main {
  max-width: 100rem;
  margin: 0 auto;
}

.landing {
  
}

.title {
  text-align: center;
}

.post:not(:last-child) {
  border-bottom: 0.1rem solid #eee;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
}

.bgWrap {
  background: url("/pregnant.jpg") no-repeat center;
  height: 90vh;
  position: relative;
  background-size: cover;
}


